<div class="container">
  <div class="jumbotron">
    <h1>The Smart Planner</h1>
    <p>We do the planning, you enjoy the trip!</p>
    <a href="/users/new" class="btn btn-primary btn-lg"> Sign Up Now! <span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
</div>

<div class="container">

</div>
