/*
*= require_tree .
*= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";
body {
  padding-top: 4.5vh;
}

BODY.trips-controller.show-action {
  width: 100vw;
  height: 150vh;
  background: url("http://i.imgur.com/DXcedVO.jpg") no-repeat center fixed;
  background-size: cover;
}
BODY.trips-controller.new-action, BODY.trips-controller.create-action {
  width: 100vw;
  height: 100vh;
  background: url("http://i.imgur.com/goyXdGc.jpg") no-repeat center fixed;
  background-size: cover;
}
BODY.sessions-controller.new-action, BODY.sessions-controller.new-action, BODY.users-controller.new-action, BODY.users-controller.create-action, BODY.users-controller.edit-action, BODY.users-controller.updatet-action {
  width: 100vw;
  height: 100vh;
  background: url("http://i.imgur.com/j1FvaZw.jpg") no-repeat center fixed;
  background-size: cover;
}

BODY.nodes-controller.index-action {
  padding-top: 10px;
  background: url("http://i.imgur.com/8nMDDYm.jpg") no-repeat center fixed;
}

.map-container {

height:95vh;
border-left: 2px solid rgba(0,0,0,.6);
position:fixed;
right: 0;
}

#googleMap {
  width: 100%;
  height: 100%
}
