// Place all the styles related to the staticpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.full {
  width: 100vw;
  height: 100vh;
  background: url("http://s2.dmcdn.net/Inrmb/1280x720-ogj.jpg") no-repeat center fixed;
  background-size: cover;

}

#smart-planner {
  color: black;
  font-family: "Times New Roman", Times, sans-serif;

}

.vertical-center {
 text-align: center;
 padding-top: 200px !important;
}

.travizi {
  text-align: center;
  color: blue;;
  font-size: 50px;
  font-family: Papyrus, fantasy;
	font-style: italic;
	font-variant: small-caps;
	font-weight: bold;
}
