// Place all the styles related to the staticpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.travizi {
  text-align: center;
  color: blue;;
  font-size: 50px;
  font-family: Papyrus, fantasy;
	font-style: italic;
	font-variant: small-caps;
	font-weight: bold;
}
