// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-background {
  width: 100vw;
  height: 100vh;
  background: url("http://i.imgur.com/xluX9yK.jpg") no-repeat center fixed;
  background-size: cover;
}
