// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-background {
  width: 100vw;
  height: 100vh;
  background: url("http://i.imgur.com/j1FvaZw.jpg") no-repeat center fixed;
  background-size: cover;
}
h2, h5 {
text-align: center;
}
